{% extends "base.html" %}
{% block title %}Donate{% endblock %}
{% block content %}
<meta charset="UTF-8">
<title>2023 College Basketball AI Rankings</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-5Ad5E5eQ/7ObYvhnzKjMk21bscS1S7GnmvkiOu9qVdO4gs4fTbTtDY8Tc3qyqKfBtGczh03i9QIVxojd37RlZg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    /* Add your custom styles here */
    .container {
        margin-top: 10px;
    }

    h1 {
        text-align: center;
        font-size: 48px;
        margin-bottom: 10px;
        text-shadow: 2px 2px #fff;
    }

    table {
        border-radius: 10px;
        overflow: hidden;
    }

    th,
    td {
        font-size: 18px;
        text-align: center;
        vertical-align: middle !important;
    }

    /* Styles for mobile devices */
    @media only screen and (max-width: 1000px) {
        .container {
            margin-top: 10px;
        }

        h1 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 10px;
            text-shadow: 2px 2px #fff;
        }

        th,
        td {
            font-size: 8px;
            text-align: center;
            vertical-align: middle !important;
        }

        img {
            max-width: 20px;
            max-height: 20px;
        }
    }
</style>
<br>
<br>
<br>
<br>
<h1>Donate</h1>
    <center>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="business" value="tarik0219@gmail.com" />
        <input type="hidden" name="no_recurring" value="1" />
        <input type="hidden" name="currency_code" value="USD" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
  </center>
<br>


    
{% endblock %}