{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Predict Scores{% endblock %}
{% block styles %}
{{ super() }}
<style>
   .btn-primary {
  background-color: lightblue;
}
</style>
{% endblock %}
{% block content %}
<meta charset="UTF-8">
<title>2023 College Basketball AI Rankings</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-5Ad5E5eQ/7ObYvhnzKjMk21bscS1S7GnmvkiOu9qVdO4gs4fTbTtDY8Tc3qyqKfBtGczh03i9QIVxojd37RlZg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    @media only screen and (max-width: 1000px) {

        h1 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 10px;
            text-shadow: 2px 2px #fff;
        }
    }
</style>
<div class="container">
    <br>

<h1>Predict Game Scores</h1>
<br>
    <form method="POST" action="/predict">
        <dl>
        {{ wtf.quick_form(form)}}
         <input class="btn btn-primary" type="submit" value="Submit">
         </dl>
     </form>
</div>
{% endblock %}